#project-list-container {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999999;
    padding: 0 40px;
    overflow-y: scroll;
    .project-list-container__head {
        padding: 30px 0;
        .project-list-container__head__logo {
            display: block;
            width: 18%;
        }
    }
    .project-list-container__body {
        h1.project-list-container__body__headline {
            font-size: 30px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 30px;
            color: $color-blue;
        }
        h2.project-list-container__body__headline {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $color-pink;
            &--with-line {
                width: calc(100% + 40px);
                border-bottom: 1px solid $color-pink;
            }
        }
        h3.project-list-container__body__headline {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $color-blue;
        }
    }
    @media only screen and (max-width: $breakpoint-m-width) {
        width: 100vw;
    }
    @media only screen and (min-width: $breakpoint-m-width) {
        width: 50vw;
    }
    @media only screen and (min-width: $breakpoint-l-width) {
        width: 40vw;
    }
    @media only screen and (min-width: $breakpoint-xl-width) {
        width: 30vw;
    }
}