.project-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100%;
    overflow: scroll;
    background-color: white;
    &--disabled {
        display: none;
    }
    @media only screen and (max-width: $breakpoint-m-width) {
        width: 100vw;
    }
    @media only screen and (min-width: $breakpoint-m-width) {
        width: 50vw;
    }
    @media only screen and (min-width: $breakpoint-l-width) {
        width: 40vw;
    }
    @media only screen and (min-width: $breakpoint-xl-width) {
        width: 30vw;
    }
    .project-content__img-wrapper {
        position: relative;
        img {
            max-height: 50vh;
            object-fit: cover;
        }
        .cmp__go-back {
            width: 25px;
            height: 25px;
            background-image: url(../img/icons_blau/arrow-right-blue.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 20px;
            left: 40px;
            transform: rotate(180deg);
        }
    }
    .project-content__container {
        padding: 40px;
        .project-content__container__more-link {
            margin-top: 40px;
            display: block;
        }
        h1.h2 {
            margin-top: 20px;
        }
    }
}